:host {

}

.window-manager{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .sizeable-window {
    //margin: 0 auto;
    //display: flex;
    //flex-direction: column;
    display: grid;
    grid-template-columns: [left] 10px [content] auto [right] 10px;
    grid-template-rows: [header] 30px [content] auto [bottom] 10px;

    position: absolute;
    background-color: #e8eaed;
    border-radius: 10px;
    box-shadow: 0 0 40px #0002, 0 0 30px #0002, 0 0 20px #0001;

    .window-content {
      //background-color: #23d5ab;
      grid-column: content;
      grid-row: content;
    }
    .window-sizer-left {
      //background-color: #e73c7e;
      grid-column: left;
      grid-row: content;
      cursor: ew-resize;
    }
    .window-sizer-right {
      //background-color: firebrick;
      grid-column: right;
      grid-row: content;
      cursor: ew-resize;
    }
    .window-sizer-bottom {
      //background-color: blue;
      grid-column: content;
      grid-row: bottom;
      cursor: ns-resize;
    }
    .window-sizer-left-bottom {
      //background-color: olive;
      grid-column: left;
      grid-row: bottom;
      cursor: nesw-resize;
    }
    .window-sizer-right-bottom {
      //background-color: olive;
      grid-column: right;
      grid-row: bottom;
      cursor: nwse-resize;
    }

    .window-header {
      //background-color: pink;
      position: relative;
      grid-column: left / span 3;
      grid-row: header;

      display: flex;

      flex-direction: row;
      align-items: center;
      padding: 0 18px;

      .header-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        //background-color: fuchsia;
        //border: 1px solid darkmagenta;
        width: 20px;
        height: 20px;

        &::before {
          content: "";
          display: block;
          position: relative;
          width: 10px;
          height: 10px;
          background-color: grey;
          border: 1px solid dimgrey;
          border-radius: 6px;
        }
      }

      .red-button {
        &::before {
          background-color: #fe5f57;
          border: 1px solid #e2423880;
        }
      }

      .yellow-button {
        &::before {
          background-color: #fdbc2c;
          border: 1px solid #e09c1d80;
        }
      }

      .green-button {
        &::before {
          background-color: #28c840;
          border: 1px solid #1ca92480;
        }
      }

      .header-title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        font-family: system-ui;
        font-weight: bold;
        font-size: smaller;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }


    }
  }
}
